/* src/app/components/dynamic-form/checkbox-input/checkbox-input.component.css */

.checkbox-input-container {
    margin-bottom: 16px;
  }
  
  /* checkbox-input.component.css */
mat-form-field {
  width: 100%;
  display: block;
}
