<!-- src/app/components/dynamic-form/dynamic-form.component.html -->

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="formConfig && formConfig.steps && formConfig.steps[0].controls">
  <div *ngFor="let control of formConfig.steps[0].controls">
    <ng-container [ngSwitch]="control.type">
      <div *ngSwitchCase="'checkbox-group'">
        <label>{{ control.label }}</label>
        <div [formArrayName]="control.controlName">
          <div *ngFor="let option of control.options; let i = index" [formGroupName]="i">
            <mat-checkbox [formControlName]="'checked'">
              {{ option.label || option.value }}
            </mat-checkbox>
            <ng-container *ngIf="option.type === 'input'">
              <mat-form-field>
                <mat-label>{{ option.label }}</mat-label>
                <input matInput [formControlName]="'input'">
              </mat-form-field>
            </ng-container>
            <div *ngIf="option.children && option.children.length">
              <app-dynamic-form
                [formConfig]="{
                  id: i,
                  name: option.label,
                  formId: i,
                  steps: [{ label: option.label, controls: option.children }]
                }"
              ></app-dynamic-form>
            </div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'checkbox'">
        <mat-checkbox [formControlName]="control.controlName">
          {{ control.label }}
        </mat-checkbox>
      </div>

      <div *ngSwitchCase="'input'">
        <mat-form-field>
          <mat-label>{{ control.label }}</mat-label>
          <input matInput [formControlName]="control.controlName">
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'radio-group'">
        <app-radio-group [config]="control" [formGroup]="formGroup"></app-radio-group>
      </div>

      <div *ngSwitchCase="'checkbox-input'">
        <app-checkbox-input [config]="formGroup.get(control.controlName)" [label]="control.label"></app-checkbox-input>
      </div>

      <ng-container *ngSwitchDefault>
        Unsupported control type: {{ control.type }}
      </ng-container>
    </ng-container>
  </div>

  <button mat-button type="submit">Submit</button>
</form>
