
<mat-vertical-stepper [linear]="false" #stepper animationDuration="1000">

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Patient Details</ng-template>       
      <mat-form-field >
        <mat-label>Enter Full Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      &nbsp;
      <mat-form-field >
        <mat-label>Age</mat-label>
        <input type="number" matInput formControlName="age">
      </mat-form-field>
      &nbsp;
      <mat-form-field hintLabel="Max 10 characters">
        <mat-label>LAB Number</mat-label>
        <input matInput #input maxlength="10" formControlName="labNo">
        <mat-hint align="end">{{input.value.length}}/10</mat-hint>
      </mat-form-field>
      &nbsp;
      <mat-form-field hintLabel="Select Male or Female ">
        <mat-label>Gender </mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-hint align="end"> </mat-hint>
      </mat-form-field>
      &nbsp;
      <mat-form-field hintLabel="Max 50 characters">
        <mat-label>Address</mat-label >
        <input matInput #input maxlength="50" placeholder="Street,Town,City" formControlName="address">
        <mat-hint align="end">{{input.value.length}}/50</mat-hint>
      </mat-form-field>
      <div >
        <button mat-button style="background-color: rgb(16, 196, 228);" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Specimen</ng-template>

      <h4>Procedure :</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" (change)="onRadioChange($event)" formControlName="procedure">
        <mat-radio-button value="Excision (less than total mastectomy)"> Excision (less than total mastectomy) </mat-radio-button>
        <mat-radio-button value="Total mastectomy (including nipple-sparing and skin-sparing mastectomy)"> Total mastectomy (including nipple-sparing and skin-sparing mastectomy)</mat-radio-button>
        <mat-radio-button value="Not specified"> Not specified  </mat-radio-button>
        <mat-radio-button value="Other (specify)"> Other (specify):  </mat-radio-button>
      </mat-radio-group>
      
      <div *ngIf="showOtherField">
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput style="height: 130px;" formControlName="comment"></textarea>
        </mat-form-field>
      </div>

      <h4>Specimen Laterality :</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="direction">
        <mat-radio-button value="Right"> Right </mat-radio-button>
        <mat-radio-button value="Left"> Left </mat-radio-button>
        <mat-radio-button value="Not specified"> Not specified </mat-radio-button>
      </mat-radio-group>

    <div>
      <button mat-button style="background-color: rgb(16, 196, 228);" matStepperPrevious>Back</button>
       &nbsp;
      <button mat-button style="background-color: rgb(16, 196, 228);" matStepperNext>Next</button>
    </div>

   </form>
  </mat-step>

<mat-step [stepControl]="thirdFormGroup">
 <form [formGroup]="thirdFormGroup">
  <ng-template matStepLabel>Tumor</ng-template>

   <mat-label class="spacing"> Tumor Site (select all that apply) </mat-label>

   <div formArrayName="tumorSites" class="checkboxes">
    <mat-checkbox *ngFor="let tumor of fetchTumorList(); let i = index;" [formControlName]="i" >{{ tumor.value }}</mat-checkbox>
  </div>
  
  <section class="example-section">
    <mat-checkbox  value="Clock position" formControlName="clockRadio" (change)="updateClockPositionSelection($event)">Clock position</mat-checkbox>
  </section>
  
   <ng-container *ngIf="isClockPositionSelected">
    <mat-divider></mat-divider>
      <mat-label class="spacing"> Specify Clock Position (select all that apply) </mat-label>
       <div formArrayName="clock" class="inline-checkboxes">
        <mat-checkbox *ngFor="let checkbox of fetchClockList(); let i = index;" [formControlName]="i" > {{ checkbox.value }} </mat-checkbox>
       </div>
   </ng-container> 
      
  <mat-divider></mat-divider>

   <mat-label class="spacing">Specify distance from nipple in Centimeters (cm): </mat-label>
    <mat-form-field >
      <mat-label> enter in cm</mat-label>
        <input type="number" matInput formControlName="distance">
    </mat-form-field>
      &nbsp;
    <mat-label class="spacing">Other (specify): </mat-label>
      <mat-form-field >
        <mat-label> Enter text here</mat-label>
        <input type="text" matInput formControlName="distance2" >
      </mat-form-field>

   <div>
      <mat-label class="spacing">If not specified (tick here) : </mat-label>
      <mat-checkbox  value="Not specified" formControlName="tumorRadio" (change)="resetTumorValues($event)"> Not specified </mat-checkbox>
   </div>

   <mat-divider></mat-divider>
 
    <div>
      <button mat-button style="background-color: rgb(16, 196, 228);" matStepperPrevious>Back</button>
        &nbsp;
      <button mat-button style="background-color: rgb(16, 196, 228);" matStepperNext>Next</button>
    </div>
  
 </form>
</mat-step>


<mat-step [stepControl]="fourthFormGroup">
  <form [formGroup]="fourthFormGroup">
    <ng-template matStepLabel> Tumor Size </ng-template>

    <mat-radio-group class="example-radio-group" (change)="onChange($event)" formControlName="tumorSize">
      <mat-radio-button value="dimension">Enter dimension: </mat-radio-button>
      <mat-radio-button value="Cannot be determined"> Cannot be determined (explain): </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="showComment">
      <mat-form-field class="example-full-width">
        <mat-label>Enter here</mat-label>
        <textarea matInput style="height: 130px;" formControlName="tumorSizeComment"></textarea>
      </mat-form-field>
    </div>

    <div *ngIf="showDimension">
      <mat-label class="spacing"> Greatest dimension in Millimeters (mm) : </mat-label>  
        <mat-form-field >
          <input type="number" matInput formControlName="dimension" >
        </mat-form-field>
      <br>
      <mat-label class="spacing">Additional Dimension in Millimeters (format ____ x ____ mm) : </mat-label>  
       <mat-form-field >
          <input type="text" placeholder="Example: 34x45" matInput formControlName="dimension2" >
       </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    
  <div>
    <button mat-button style="background-color: rgb(16, 196, 228);" matStepperPrevious>Back</button>
     &nbsp;
    <button mat-button style="background-color: rgb(16, 196, 228);" matStepperNext>Next</button>
  </div>

 </form>
</mat-step>

<mat-step [stepControl]="fifthFormGroup">
  <form [formGroup]="fifthFormGroup">
    <ng-template matStepLabel> Malignant phyllodes tumor diagnosis requirement </ng-template>

  <div>
    <h4>Histologic Type (Note A)</h4>
    <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="histologic">
      <mat-radio-button value="benign"> Phyllodes tumor, benign </mat-radio-button>
      <mat-radio-button value="borderline"> Phyllodes tumor, borderline </mat-radio-button>
      <mat-radio-button value="malignant"> Phyllodes tumor, malignant  </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-divider></mat-divider>

  <div>
    <h4>Stromal Cellularity (Note B)</h4>
    <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="cellularity">
      <mat-radio-button value="Mild (stromal nuclei are non-overlapping)"> Mild (stromal nuclei are non-overlapping) </mat-radio-button>
      <mat-radio-button value="Moderate (some overlapping stromal nuclei)"> Moderate (some overlapping stromal nuclei) </mat-radio-button>
      <mat-radio-button value="Marked (many overlapping stromal nuclei)"> Marked (many overlapping stromal nuclei)   </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-divider></mat-divider>

  <div>
    <h4>Stromal Atypia (Note C)</h4>
    <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="atypia">
      <mat-radio-button value="Mild (minimal variation in nuclear size, even chromatin, and smooth nuclear contours)"> Mild (minimal variation in nuclear size, even chromatin, and smooth nuclear contours) </mat-radio-button>
      <mat-radio-button value="Moderate (more variation in nuclear size and irregular nuclear membranes)"> Moderate (more variation in nuclear size and irregular nuclear membranes) </mat-radio-button>
      <mat-radio-button value="Marked (marked nuclear pleomorphism, hyperchromasia, and irregular nuclear contours)"> Marked (marked nuclear pleomorphism, hyperchromasia, and irregular nuclear contours) </mat-radio-button>
      <mat-radio-button value="none"> None </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-divider></mat-divider>

  <div>
    <h4>Stromal Overgrowth (Note D)</h4>
    <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="histologic">
      <mat-radio-button value="Absent"> Absent </mat-radio-button>
      <mat-radio-button value="Present"> Present </mat-radio-button>
      <mat-radio-button value="Cannot be determined"> Cannot be determined </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-divider></mat-divider>

  <div>
    <h4>Mitotic Rate (Note E)</h4>
   <mat-radio-group class="example-radio-group" (change)="onMitoticChange($event)" formControlName="tumorSize">
     <mat-radio-button value="Mitotic">Enter Mitotic Rate </mat-radio-button>
     <mat-radio-button value="Cannot be determined"> Cannot be determined </mat-radio-button>
   </mat-radio-group>
 
    <div *ngIf="showMitoticRate">
     <mat-label class="spacing"> Specify number of mitoses per 10 high power fields : </mat-label>
       <mat-form-field >
         <input type="text" matInput formControlName="mitoticRate" >
       </mat-form-field>
     <mat-label class="spacing"> mitoses per 10 High Power Fields (HPFs).</mat-label> 
    </div>
  </div>

  <mat-divider></mat-divider>

  <div>
    <h4>Histologic Tumor Border</h4>
    <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="tumorBorder">
      <mat-radio-button value="Absent">  Circumscribed (well-defined; pushing)  </mat-radio-button>
      <mat-radio-button value="Present">  Infiltrative (permeative)  </mat-radio-button>
      <mat-radio-button value="Cannot be determined"> Cannot be determined </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-divider></mat-divider>

  <div>
    <button mat-button style="background-color: rgb(16, 196, 228);" matStepperPrevious>Back</button>
     &nbsp;
    <button mat-button style="background-color: rgb(16, 196, 228);" matStepperNext>Next</button>
  </div>

 </form>
</mat-step>



<mat-step>
 <ng-template matStepLabel>Done</ng-template>
   
    <div>
      <h3>Preview:</h3>
      <pre>{{ getPreviewValues() }}</pre>
    </div>

    <div>
      <button  class="buttonColor"  mat-raised-button color="warn">Back</button>
      <button  class="buttonColor" mat-raised-button color="primary">Reset</button>
      <button  class="buttonColor" mat-raised-button color="accent">Submit</button>
    </div>
</mat-step>

</mat-vertical-stepper>