

<mat-stepper linear #stepper animationDuration="400"> 

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Patient Info</ng-template>       
      <mat-form-field >
        <mat-label>Enter Full Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      &nbsp;
      <mat-form-field >
        <mat-label>Age</mat-label>
        <input type="number" matInput formControlName="age">
      </mat-form-field>
      &nbsp;
      <mat-form-field hintLabel="Max 10 characters">
        <mat-label>LAB Number</mat-label>
        <input matInput #input maxlength="10" formControlName="labNo">
        <mat-hint align="end">{{input.value.length}}/10</mat-hint>
      </mat-form-field>
      &nbsp;
      <mat-form-field hintLabel="Select Male or Female ">
        <mat-label>Gender </mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-hint align="end"> </mat-hint>
      </mat-form-field>
      &nbsp;
      <mat-form-field hintLabel="Max 50 characters">
        <mat-label>Address</mat-label >
        <input matInput #input maxlength="50" placeholder="Street,Town,City" formControlName="address">
        <mat-hint align="end">{{input.value.length}}/50</mat-hint>
      </mat-form-field>
      <div >
        <button mat-button  class="buttonColor aqua-button" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Specimen</ng-template>

      <h4>Procedure :</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" (change)="onRadioChange($event)" formControlName="procedure">
        <mat-radio-button value="Excision (less than total mastectomy)"> Excision (less than total mastectomy) </mat-radio-button>
        <mat-radio-button value="Total mastectomy (including nipple-sparing and skin-sparing mastectomy)"> Total mastectomy (including nipple-sparing and skin-sparing mastectomy)</mat-radio-button>
        <mat-radio-button value="Not specified"> Not specified  </mat-radio-button>
        <mat-radio-button value="Other"> Other (specify):  </mat-radio-button>
      </mat-radio-group>
      
      <div *ngIf="showOtherField">
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput style="height: 130px;" formControlName="comment"></textarea>
        </mat-form-field>
      </div>

      <h4>Specimen Laterality :</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="direction">
        <mat-radio-button value="Right"> Right </mat-radio-button>
        <mat-radio-button value="Left"> Left </mat-radio-button>
        <mat-radio-button value="Not specified"> Not specified </mat-radio-button>
      </mat-radio-group>

      <div>
        <button mat-button class="buttonColor aqua-button" matStepperPrevious>Back</button>
        <button mat-button class="buttonColor aqua-button" matStepperNext>Next</button>
      </div>
   </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Tumor site</ng-template>
  
      <section class="third-section">
        <span class="third-list-section">
          <mat-checkbox  class="third-margin"  [checked]="allComplete"  [indeterminate]="someComplete()"
          [disabled]="notSpecifiedSelected || disableCheckboxes"  (change)="setAll($event.checked)">
          {{ task.name }}
        </mat-checkbox>
        </span>
        <span class="third-list-section">
          <ul>
            <li *ngFor="let subtask of task.subtasks">
              <mat-checkbox [disabled]="notSpecifiedSelected || disableCheckboxes" [checked]="subtask.completed" (change)="updateAllComplete(subtask)">
                {{ subtask.name }}
              </mat-checkbox>

              <ul *ngIf="subtask?.subtasks" class="clock-subtasks">
                <li *ngFor="let clockSubtask of subtask.subtasks">
                  <mat-checkbox [disabled]="!allComplete && isClockSubtaskDisabled" [checked]="clockSubtask.completed" (change)="updateAllComplete(clockSubtask)">
                    {{ clockSubtask.name }}
                  </mat-checkbox>
                </li>
              </ul>
        
              <ng-container *ngIf="subtask.name === 'Specify distance from nipple in Centimeters' || subtask.name === 'Other (specify)'">
                <mat-form-field *ngIf="subtask.completed" >
                  <textarea *ngIf="subtask.name === 'Other (specify)'" matInput formControlName="otherSpecify" rows="4"></textarea>
                  <input *ngIf="subtask.name === 'Specify distance from nipple in Centimeters'" type="number" matInput formControlName="distanceFromNipple">
                  <mat-label>{{ subtask.name }}</mat-label>
                </mat-form-field>
              </ng-container>        
             
            </li>
            <mat-checkbox  [disabled]="disableCheckboxes" (change)="resetAndToggleDisable()" >Not Specified</mat-checkbox>
          </ul>
        </span>
        
      </section>
  
      <div>
        <button mat-button class="buttonColor aqua-button" matStepperPrevious>Back</button>
        <button mat-button class="buttonColor aqua-button" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel> Malignant phyllodes tumor  </ng-template>
  
    <div>
      <h4>Histologic Type (Note A)</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="histologic">
        <mat-radio-button value="Phyllodes tumor, benign"> Phyllodes tumor, benign </mat-radio-button>
        <mat-radio-button value="Phyllodes tumor, borderline"> Phyllodes tumor, borderline </mat-radio-button>
        <mat-radio-button value="Phyllodes tumor, malignant"> Phyllodes tumor, malignant  </mat-radio-button>
      </mat-radio-group>
    </div>
  
    <mat-divider></mat-divider>
  
    <div>
      <h4>Stromal Cellularity (Note B)</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="cellularity">
        <mat-radio-button value="Mild (stromal nuclei are non-overlapping)"> Mild (stromal nuclei are non-overlapping) </mat-radio-button>
        <mat-radio-button value="Moderate (some overlapping stromal nuclei)"> Moderate (some overlapping stromal nuclei) </mat-radio-button>
        <mat-radio-button value="Marked (many overlapping stromal nuclei)"> Marked (many overlapping stromal nuclei)   </mat-radio-button>
      </mat-radio-group>
    </div>
  
    <mat-divider></mat-divider>
  
    <div>
      <h4>Stromal Atypia (Note C)</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="atypia">
        <mat-radio-button value="Mild (minimal variation in nuclear size, even chromatin, and smooth nuclear contours)"> Mild (minimal variation in nuclear size, even chromatin, and smooth nuclear contours) </mat-radio-button>
        <mat-radio-button value="Moderate (more variation in nuclear size and irregular nuclear membranes)"> Moderate (more variation in nuclear size and irregular nuclear membranes) </mat-radio-button>
        <mat-radio-button value="Marked (marked nuclear pleomorphism, hyperchromasia, and irregular nuclear contours)"> Marked (marked nuclear pleomorphism, hyperchromasia, and irregular nuclear contours) </mat-radio-button>
        <mat-radio-button value="none"> None </mat-radio-button>
      </mat-radio-group>
    </div>
  
    <mat-divider></mat-divider>
  
    <div>
      <h4>Stromal Overgrowth (Note D)</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="overGrowth">
        <mat-radio-button value="Absent"> Absent </mat-radio-button>
        <mat-radio-button value="Present"> Present </mat-radio-button>
        <mat-radio-button value="Cannot be determined"> Cannot be determined </mat-radio-button>
      </mat-radio-group>
    </div>
  
    <mat-divider></mat-divider>
  
    <div>
      <h4>Mitotic Rate (Note E)</h4>
     <mat-radio-group class="example-radio-group" (change)="onMitoticChange($event)" formControlName="mitotic">
       <mat-radio-button value="Mitotic">Enter Mitotic Rate </mat-radio-button>
       <mat-radio-button value="Cannot be determined"> Cannot be determined </mat-radio-button>
     </mat-radio-group>
   
      <div *ngIf="showMitoticRate">
       <mat-label class="spacing"> Specify number of mitoses per 10 high power fields : </mat-label>
         <mat-form-field >
           <input type="text" matInput formControlName="mitoticRate" >
         </mat-form-field>
       <mat-label class="spacing"> mitoses per 10 High Power Fields (HPFs).</mat-label> 
      </div>
    </div>
  
    <mat-divider></mat-divider>
  
    <div>
      <h4>Histologic Tumor Border</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="tumorBorder">
        <mat-radio-button value="circumscribed">Circumscribed (well-defined; pushing)</mat-radio-button>
        <mat-radio-button value="infiltrative">Infiltrative (permeative)</mat-radio-button>
          <div *ngIf="fourthFormGroup?.get('tumorBorder')?.value === 'infiltrative'">
            <mat-radio-group style="margin-left: 40px;">
             <mat-radio-button value="focal">Focal</mat-radio-button>
             <mat-radio-button value="extensive">Extensive</mat-radio-button>
            </mat-radio-group>
          </div>  
        <mat-radio-button value="Cannot determine">Cannot be determined</mat-radio-button>
      </mat-radio-group>
    </div>
  
  
    <div>
      <h4>Malignant Heterologous Elements (Note F)</h4>
      <mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="malignant">
        <mat-radio-button value="Liposarcoma (excluding well-differentiated liposarcoma)">Liposarcoma (excluding well-differentiated liposarcoma)</mat-radio-button>
        <mat-radio-button value="Osteosarcoma">Osteosarcoma </mat-radio-button>
        <mat-radio-button value="Chondrosarcoma">Chondrosarcoma </mat-radio-button>
        <mat-radio-button value="Not identified"> Not identified </mat-radio-button>
        <mat-radio-button value="other"> Other (specify): </mat-radio-button>
      </mat-radio-group>
  
      <div *ngIf="fourthFormGroup?.get('malignant')?.value === 'other'">
        <mat-form-field class="example-full-width">
          <mat-label>Describe here</mat-label>
          <textarea matInput style="height: 130px;" formControlName="commentMalignant"></textarea>
        </mat-form-field>
      </div>  
    </div>
  
    <mat-divider></mat-divider>
  
    <div>
      <button mat-button style="background-color: rgb(16, 196, 228);" matStepperPrevious>Back</button>
       &nbsp;
      <button mat-button style="background-color: rgb(16, 196, 228);" matStepperNext>Next</button>
    </div>
  
   </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
      
    <div>
      <h3>Preview:</h3>
      <pre style="padding: 10px;">{{ getPreviewValues() }}</pre>
    </div>
   
    <div>
      <button mat-button class="buttonColor aqua-button" matStepperPrevious>Back</button>
      <button mat-button class="buttonColor aqua-button" matStepperNext>Next</button>
    </div>
  </mat-step>
    
</mat-stepper>



